In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv("D:/Sem 2/python/Assignments/3/chipotle.csv")
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25
10,5,1,Chips and Guacamole,NaN,$4.45
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
14,7,1,Chips and Guacamole,NaN,$4.45
15,8,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
16,8,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49
17,9,1,Chicken Burrito,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",$8.49
18,9,2,Canned Soda,[Sprite],$2.18
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$8.75
20,10,1,Chips and Guacamole,NaN,$4.45
21,11,1,Barbacoa Burrito,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$8.99
22,11,1,Nantucket Nectar,[Pomegranate Cherry],$3.39
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",$10.98
24,12,1,Izze,[Grapefruit],$3.39
25,13,1,Chips and Fresh Tomato Salsa,NaN,$2.39
26,13,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Bea...",$8.49
27,14,1,Carnitas Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",$8.99
28,14,1,Canned Soda,[Dr. Pepper],$1.09
29,15,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49
...,...,...,...,...,...
4561,1813,2,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$17.50
4562,1814,1,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$9.25
4563,1814,1,Chips and Guacamole,NaN,$4.45
4564,1815,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
4565,1815,1,Canned Soft Drink,[Sprite],$1.25
4566,1816,1,Chicken Burrito,"[Roasted Chili Corn Salsa, [Pinto Beans, Chees...",$8.75
4567,1816,1,Chips and Guacamole,NaN,$4.45
4568,1817,1,Bottled Water,NaN,$1.50
4569,1817,1,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice]]",$8.75
4570,1817,1,Bottled Water,NaN,$1.50
4571,1817,1,Canned Soft Drink,[Diet Coke],$1.25
4572,1818,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$9.39
4573,1818,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75
4574,1819,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Cheese, Lett...",$8.75
4575,1819,1,Chips and Guacamole,NaN,$4.45
4576,1820,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream...",$11.25
4577,1820,1,Canned Soft Drink,[Coke],$1.25
4578,1821,1,Carnitas Burrito,"[Tomatillo Green Chili Salsa, [Rice, Pinto Bea...",$9.25
4579,1821,1,Chips and Guacamole,NaN,$4.45
4580,1822,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Black Beans, Cheese, Gua...",$11.25
4581,1822,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",$8.75
4582,1822,2,Bottled Water,NaN,$3.00
4583,1823,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",$8.75
4584,1823,1,Chips,NaN,$2.15
4585,1823,1,Canned Soft Drink,[Diet Coke],$1.25
4586,1824,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$11.25
4587,1824,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$11.25
4588,1824,1,Chips and Guacamole,NaN,$4.45
4589,1825,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.25
4590,1825,1,Chicken,NaN,NaN

In [3]:
# the first 10 entries
df.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [4]:
# the number of observations in the dataset & columns
df.shape

(4591, 5)

In [5]:
# Print the name of all the columns
df.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [6]:
# Which was the most ordered item
df.describe()

          order_id     quantity
count  4591.000000  4591.000000
mean    921.166848     1.076236
std     525.440106     0.411522
min       1.000000     1.000000
25%     473.500000     1.000000
50%     922.000000     1.000000
75%    1383.000000     1.000000
max    1825.000000    15.000000

In [7]:
# Most ordered item...//
df.max(axis=0)

order_id                  1825
quantity                    15
item_name    Veggie Soft Tacos
dtype: object

In [8]:
# How many items were ordered -Unique items..//
degree_counts = df['item_name'].value_counts()
degree_counts

Chicken Bowl                             721
Chicken Burrito                          553
Chips and Guacamole                      475
Steak Burrito                            364
Canned Soft Drink                        297
Steak Bowl                               211
Chips                                    210
Bottled Water                            160
Chicken Soft Tacos                       114
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       107
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            93
Barbacoa Burrito                          88
Veggie Bowl                               85
Carnitas Bowl                             66
Barbacoa Bowl                             65
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Chips and Tomatillo-Red Chili Salsa       20
Izze                                      20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Carnitas Crispy Tacos                      7
Veggie Soft Tacos                          7
Veggie Salad                               6
Carnitas Salad Bowl                        6
Burrito                                    6
Steak Salad                                4
Salad                                      2
Crispy Tacos                               2
Bowl                                       2
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Chicken                                    1
Carnitas Salad                             1
Name: item_name, dtype: int64

In [9]:
# How many items were ordered in Total...//
df['item_name'].count()

4591

In [10]:
# How many orders were made in the period../
df['order_id'].count()

4591

In [11]:
# How many different items are sold
df['item_name'].unique()

array(['Chips and Fresh Tomato Salsa', 'Izze', 'Nantucket Nectar',
       'Chips and Tomatillo-Green Chili Salsa', 'Chicken Bowl',
       'Side of Chips', 'Steak Burrito', 'Steak Soft Tacos',
       'Chips and Guacamole', 'Chicken Crispy Tacos',
       'Chicken Soft Tacos', 'Chicken Burrito', 'Canned Soda',
       'Barbacoa Burrito', 'Carnitas Burrito', 'Carnitas Bowl',
       'Bottled Water', 'Chips and Tomatillo Green Chili Salsa',
       'Barbacoa Bowl', 'Chips', 'Chicken Salad Bowl', 'Steak Bowl',
       'Barbacoa Soft Tacos', 'Veggie Burrito', 'Veggie Bowl',
       'Steak Crispy Tacos', 'Chips and Tomatillo Red Chili Salsa',
       'Barbacoa Crispy Tacos', 'Veggie Salad Bowl',
       'Chips and Roasted Chili-Corn Salsa',
       'Chips and Roasted Chili Corn Salsa', 'Carnitas Soft Tacos',
       'Chicken Salad', 'Canned Soft Drink', 'Steak Salad Bowl',
       '6 Pack Soft Drink', 'Chips and Tomatillo-Red Chili Salsa', 'Bowl',
       'Burrito', 'Crispy Tacos', 'Carnitas Crispy Tacos', 'Steak Salad',
       'Chips and Mild Fresh Tomato Salsa', 'Veggie Soft Tacos',
       'Carnitas Salad Bowl', 'Barbacoa Salad Bowl', 'Salad',
       'Veggie Crispy Tacos', 'Veggie Salad', 'Carnitas Salad',
       'Chicken '], dtype=object)

In [12]:
# total number of unique items in the order..//
len(df['item_name'].unique())

51

In [13]:
df[['item_price']].dtypes

item_price    object
dtype: object

In [14]:
# How much was the revenue for the period in the dataset..///
# Removing the dollar sign from the item_price list to add
df['item_price'] = df['item_price'].str.replace('$', '')
df['item_price']

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
5       10.98
6        1.69
7       11.75
8        9.25
9        9.25
10       4.45
11       8.75
12       8.75
13      11.25
14       4.45
15       2.39
16       8.49
17       8.49
18       2.18
19       8.75
20       4.45
21       8.99
22       3.39
23      10.98
24       3.39
25       2.39
26       8.49
27       8.99
28       1.09
29       8.49
         ...
4561    17.50
4562     9.25
4563     4.45
4564    11.25
4565     1.25
4566     8.75
4567     4.45
4568     1.50
4569     8.75
4570     1.50
4571     1.25
4572     9.39
4573     8.75
4574     8.75
4575     4.45
4576    11.25
4577     1.25
4578     9.25
4579     4.45
4580    11.25
4581     8.75
4582     3.00
4583     8.75
4584     2.15
4585     1.25
4586    11.25
4587    11.25
4588     4.45
4589    11.25
4590       NaN
Name: item_price, Length: 4591, dtype: object

In [15]:
# Removing the NAN value from the column..//
df.dropna(axis = 0,subset = ['item_price'], inplace=True)

In [24]:
# Total Revenue earned for the period is the summation of item_price column
df.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [26]:
# how to convert object/string to float
df['item_price'] = df['item_price'].astype(float)

In [27]:
df.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

In [30]:
# Total revenue in that period.
Total = df['item_price'].sum()
print (Total)

34255.96

In [34]:
# Average amount per order
df['item_price'].mean()

7.463172113289863